
//Colors
$eerieblack: #121619;
$raisinblack: #222323;
$nickel: #6C6E70;
$fuzzy:#E56353;
$rudy:  #D76C69;
$spanishpink: #ECBCBA;
$white: #fff;
$platinum: #E6E7E7;
$light: #D1D1D1;

//Special Colors

$degradation: rgba(0, 0, 0, 0.6);

//Font Family
$playfair: 'Playfair Display', serif;
$roboto: 'Open Sans', sans-serif;

//Font Sizes
$xx-large: 70px;
$x-large: 30px;
$large: 18px;
$medium: 16px;
$small: 12px;

//Font style
$stylefont: italic;

//Font weight
$regular: 400;
$light: 300;
$italic: 700;
$bold: 900;


